playbook-Extract_Indicators_From_File_-_Generic_v2.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 5.0.0
    itemVersion: 2.7.4
    packID: CommonPlaybooks
    packName: Common Playbooks
    packPropagationLabels:
    - all
    prevname: ""
    propagationLabels: []
    toServerVersion: ""
description: |-
  This playbook extracts indicators from a file.
  Supported file types:
  - CSV
  - PDF
  - TXT
  - HTM, HTML
  - DOC, DOCX
  - PPT
  - PPTX
  - RTF
  - XLS
  - XLSX
  - XML
  - XLSM
  - DOCM
  - PPTM
  - DOTM
  - XLSB
  - DOT
  - PPSM
  - PNG
  - JPG/JPEG
  - GIF (when Image OCR is enabled).
  In addition, the playbook supports QR codes.
  The playbook does not support encrypted / password-protected files such as XLSB. Such files will be skipped.
id: Extract Indicators From File - Generic v2
inputs:
- description: The file to extract indicators from.
  key: File
  playbookInputQuery: null
  required: false
  value:
    complex:
      root: File
- description: ""
  key: ""
  playbookInputQuery:
    daterange:
      fromdate: "0001-01-01T00:00:00Z"
      fromdatelicenseval: "0001-01-01T00:00:00Z"
      period:
        by: ""
        byfrom: ""
        byto: ""
        field: ""
        fromvalue: null
        tovalue: null
      todate: "0001-01-01T00:00:00Z"
    query: ""
    queryEntity: indicators
    results: null
    runFromLastJobTime: true
  required: false
  value: {}
- description: |-
    Available values: "True" or "False". Default is "False"
    When this is set to "True", in case a macro was found within the file (using oletools), it will output all the obfuscated strings with their decoded content (Hex, Base64, StrReverse, Dridex, VBA).
  key: Decode
  playbookInputQuery: null
  required: false
  value:
    simple: "False"
- description: |-
    The maximum number of images that can be extracted from a PDF file.
    We recommend setting a low number if you don't need all images extracted from PDF files.
    If no value is specified, a default of 20 will be used.
  key: MaxImagesFromPDF
  playbookInputQuery: null
  required: false
  value:
    simple: "10"
name: Extract Indicators From File - Generic v2
outputs:
- contextPath: Domain.Name
  description: The extracted domains.
  type: string
- contextPath: Account.Email.Address
  description: The extracted email addresses.
  type: string
- contextPath: File.MD5
  description: The extracted MD5 hash.
  type: string
- contextPath: File.SHA1
  description: The extracted SHA1 hash.
  type: string
- contextPath: File.SHA256
  description: The extracted SHA256 hash.
  type: string
- contextPath: IP.Address
  description: The extracted IP addresses.
  type: string
- contextPath: File.Text
  description: The text or images extracted from the PDF file.
  type: string
- contextPath: File.Producer
  description: The PDF file producer.
  type: string
- contextPath: File.Title
  description: The title of the PDF file.
  type: string
- contextPath: File.xap
  description: The XAP of the PDF file.
  type: string
- contextPath: File.Author
  description: The author of the file.
  type: string
- contextPath: File.dc
  description: The DC of the file.
  type: string
- contextPath: File.xapmm
  description: The XAPMM of the file.
  type: string
- contextPath: File.ModDate
  description: The mod date of the file.
  type: string
- contextPath: File.CreationDate
  description: The creation date of the file.
  type: string
- contextPath: File.Pages
  description: The number of pages in the file.
  type: string
- contextPath: URL.Data
  description: The list of URLs that were extracted from the file.
  type: string
- contextPath: ExtractedURLsFromFiles
  description: The list of URLs that were extracted from the file. This output is
    a duplicate of the URL.Data output and it enables parent playbooks to identify
    the URLs generated by this playbook.
  type: String
- contextPath: Oletools.Oleid.ole_command_result
  description: Indicator list from the oleid command.
  type: string
- contextPath: Oletools.Oleid.file_name
  description: File name.
  type: string
- contextPath: Oletools.Oleid.sha256
  description: SHA256 hash.
  type: string
- contextPath: Oletools.Oleid.ole_command_result.File_format
  description: Indicator file format.
  type: string
- contextPath: Oletools.Oleid.ole_command_result.Container_format
  description: Indicator container format.
  type: string
- contextPath: Oletools.Oleid.ole_command_result.Encrypted
  description: Indicator encrypted.
  type: string
- contextPath: Oletools.Oleid.ole_command_result.VBA_Macros
  description: Indicator VBA macros.
  type: string
- contextPath: Oletools.Oleid.ole_command_result.XLM_Macros
  description: Indicator XLM macros.
  type: string
- contextPath: Oletools.Oleid.ole_command_result.External_Relationships
  description: Indicator external relationships.
  type: string
- contextPath: Oletools.Oleid.ole_command_result.ObjectPool
  description: Indicator object pool.
  type: string
- contextPath: Oletools.Oleid.ole_command_result.Flash_objects
  description: Indicator flash objects.
  type: string
- contextPath: Oletools.Oleid.ole_command_result.File_format.Value
  description: Indicator file format value.
  type: string
- contextPath: Oletools.Oleid.ole_command_result.File_format.Ole_Risk
  description: Indicator file format OLE risk.
  type: string
- contextPath: Oletools.Oleid.ole_command_result.File_format.Description
  description: Indicator file format description.
  type: string
- contextPath: Oletools.Oleid.ole_command_result.Container_format.Value
  description: Indicator container format value.
  type: string
- contextPath: Oletools.Oleid.ole_command_result.Container_format.Ole_Risk
  description: Indicator container format OLE risk.
  type: string
- contextPath: Oletools.Oleid.ole_command_result.Container_format.Description
  description: Indicator container format description.
  type: string
- contextPath: Oletools.Oleid.ole_command_result.Encrypted.Value
  description: Indicator encrypted value.
  type: string
- contextPath: Oletools.Oleid.ole_command_result.Encrypted.Ole_Risk
  description: Indicator encrypted OLE risk.
  type: string
- contextPath: Oletools.Oleid.ole_command_result.Encrypted.Description
  description: Indicator encrypted description.
  type: string
- contextPath: Oletools.Oleid.ole_command_result.VBA_Macros.Value
  description: Indicator VBA macros value.
  type: string
- contextPath: Oletools.Oleid.ole_command_result.VBA_Macros.Ole_Risk
  description: Indicator VBA macros OLE risk.
  type: string
- contextPath: Oletools.Oleid.ole_command_result.VBA_Macros.Description
  description: Indicator VBA macros description.
  type: string
- contextPath: Oletools.Oleid.ole_command_result.XLM_Macros.Value
  description: Indicator XLM macros value.
  type: string
- contextPath: Oletools.Oleid.ole_command_result.XLM_Macros.Ole_Risk
  description: Indicator XLM macros OLE risk.
  type: string
- contextPath: Oletools.Oleid.ole_command_result.XLM_Macros.Description
  description: Indicator XLM macros description.
  type: string
- contextPath: Oletools.Oleid.ole_command_result.External_Relationships.Value
  description: Indicator XLM macros value.
  type: string
- contextPath: Oletools.Oleid.ole_command_result.External_Relationships.Ole_Risk
  description: Indicator XLM macros OLE risk.
  type: string
- contextPath: Oletools.Oleid.ole_command_result.External_Relationships.Description
  description: Indicator XLM macros description.
  type: string
- contextPath: Oletools.Oleid.ole_command_result.ObjectPool.Value
  description: Indicator object pool value.
  type: string
- contextPath: Oletools.Oleid.ole_command_result.ObjectPool.Ole_Risk
  description: Indicator object pool OLE risk.
  type: string
- contextPath: Oletools.Oleid.ole_command_result.ObjectPool.Description
  description: Indicator object pool description.
  type: string
- contextPath: Oletools.Oleid.ole_command_result.Flash_objects.Value
  description: Indicator Flash objects value.
  type: string
- contextPath: Oletools.Oleid.ole_command_result.Flash_objects.Ole_Risk
  description: Indicator Flash objects OLE risk.
  type: string
- contextPath: Oletools.Oleid.ole_command_result.Flash_objects.Description
  description: Indicator Flash objects description.
  type: string
- contextPath: Oletools.Oleobj.ole_command_result.hyperlinks
  description: List of hyperlinks.
  type: string
- contextPath: Oletools.Oleobj.file_name
  description: File name.
  type: string
- contextPath: Oletools.Oleobj.sha256
  description: SHA256 hash.
  type: string
- contextPath: Oletools.Olevba.file_name
  description: File name.
  type: string
- contextPath: Oletools.Olevba.sha256
  description: SHA256 hash.
  type: string
- contextPath: Oletools.Olevba.ole_command_result.macro_analyze
  description: Macro analyze.
  type: string
- contextPath: Oletools.Olevba.ole_command_result.macro_src_code
  description: Macro source code.
  type: string
- contextPath: Oletools.Olevba.ole_command_result.macro_list
  description: Macro list.
  type: string
- contextPath: DBotScore.Indicator
  description: The indicator that was tested.
  type: string
- contextPath: DBotScore.Type
  description: The indicator type.
  type: string
- contextPath: DBotScore.Vendor
  description: The vendor used to calculate the score.
  type: string
- contextPath: DBotScore.Score
  description: The actual score.
  type: number
- contextPath: QRCodeReader
  description: The QR code reader primary key object.
  type: unknown
- contextPath: QRCodeReader.Text
  description: The raw text extracted from the QR code image.
  type: String
- contextPath: QRCodeReader.Domain
  description: The domains extracted from the QR code image if they are present.
  type: String
- contextPath: QRCodeReader.URL
  description: The URLs extracted from the QR code image if they are present.
  type: String
- contextPath: QRCodeReader.IP
  description: The IPs extracted from the QR code image if they are present.
  type: String
- contextPath: ExtractedHyperLink
  description: Extracted hyperlinks from supported Office documents (xlsx,docx,pptx).
  type: unknown
- contextPath: ExtractedHyperLink.URL
  description: The URL of the extracted hyperlink.
  type: String
- contextPath: ExtractedHyperLink.FileName
  description: The Office file from which the hyperlinks are extracted.
  type: String
starttaskid: "0"
system: true
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 19112ab0-6176-49fc-83c5-b0d3b14eafe7
      iscommand: false
      name: ""
      version: -1
    taskid: 19112ab0-6176-49fc-83c5-b0d3b14eafe7
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 915,
          "y": -10
        }
      }
  "1":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: EntryID
                root: inputs.File
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "10"
      "yes":
      - "4"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |
        Checks if there is a file in the playbook input.
      id: 27e3a138-4521-475e-ab6e-d2fa5278a561
      iscommand: false
      name: Is there a file?
      type: condition
      version: -1
    taskid: 27e3a138-4521-475e-ab6e-d2fa5278a561
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 915,
          "y": 120
        }
      }
  "3":
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 463760b9-550a-4dea-8a06-42354107dc49
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: 463760b9-550a-4dea-8a06-42354107dc49
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 915,
          "y": 1826
        }
      }
  "4":
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "5"
      - "7"
      - "9"
      - "15"
      - "20"
      - "21"
      - "23"
      - "26"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 832f6312-844f-43ce-8c6b-ce6e3feb0ada
      iscommand: false
      name: Extract Indicators From Files
      type: title
      version: -1
    taskid: 832f6312-844f-43ce-8c6b-ce6e3feb0ada
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 915,
          "y": 295
        }
      }
  "5":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: EntryID
                filters:
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: inputs.File.Type
                    operator: containsString
                    right:
                      value:
                        simple: ASCII text
                  - left:
                      iscontext: true
                      value:
                        simple: inputs.File.Type
                    operator: containsString
                    right:
                      value:
                        simple: Rich Text Format
                  - left:
                      iscontext: true
                      value:
                        simple: inputs.File.Type
                    operator: containsString
                    right:
                      value:
                        simple: UTF-8 Unicode text
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: inputs.File.Type
                    operator: containsString
                    right:
                      value:
                        simple: JSON data
                - - left:
                      iscontext: true
                      value:
                        simple: inputs.File.Type
                    operator: notContainsString
                    right:
                      value:
                        simple: news or mail
                - - left:
                      iscontext: true
                      value:
                        simple: inputs.File.Info
                    operator: isNotEqualString
                    right:
                      value:
                        simple: eml
                - - left:
                      iscontext: true
                      value:
                        simple: inputs.File.Info
                    operator: isNotEqualString
                    right:
                      value:
                        simple: msg
                - - left:
                      iscontext: true
                      value:
                        simple: inputs.File.Type
                    operator: notContainsString
                    right:
                      value:
                        simple: Composite Document File V2 Document, No summary info
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: inputs.File.Info
                    operator: isNotEqualString
                    right:
                      value:
                        simple: text/rtf
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: inputs.File.Info
                    operator: isNotEqualString
                    right:
                      value:
                        simple: rtf
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: inputs.File.Info
                    operator: notContainsGeneral
                    right:
                      value:
                        simple: xml
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: inputs.File.Type
                    operator: notContainsGeneral
                    right:
                      value:
                        simple: text/rtf
                - - left:
                      iscontext: true
                      value:
                        simple: inputs.File.Info
                    operator: isNotEqualString
                    right:
                      value:
                        simple: message/rfc822
                - - left:
                      iscontext: true
                      value:
                        simple: inputs.File.Info
                    operator: isNotEqualString
                    right:
                      value:
                        simple: p7m
                root: inputs.File
                transformers:
                - operator: uniq
          operator: isExists
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "10"
      "yes":
      - "6"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if there is a text-based file in context. Skips MSG and
        EML files.
      id: 1f1bd979-a81c-4d02-8a7e-d039839c0f11
      iscommand: false
      name: Is there a text-based file?
      type: condition
      version: -1
    taskid: 1f1bd979-a81c-4d02-8a7e-d039839c0f11
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 112.5,
          "y": 460
        }
      }
  "6":
    continueonerrortype: ""
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "19"
    note: false
    quietmode: 0
    reputationcalc: 2
    scriptarguments:
      entryID:
        complex:
          accessor: EntryID
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: inputs.File.Type
              operator: containsString
              right:
                value:
                  simple: ASCII text
            - left:
                iscontext: true
                value:
                  simple: inputs.File.Type
              operator: containsString
              right:
                value:
                  simple: Rich Text Format
            - left:
                iscontext: true
                value:
                  simple: inputs.File.Type
              operator: containsString
              right:
                value:
                  simple: UTF-8 Unicode
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: inputs.File.Type
              operator: containsString
              right:
                value:
                  simple: JSON data
          - - left:
                iscontext: true
                value:
                  simple: inputs.File.Type
              operator: notContainsString
              right:
                value:
                  simple: news or mail
          - - left:
                iscontext: true
                value:
                  simple: inputs.File.Info
              operator: isNotEqualString
              right:
                value:
                  simple: eml
          - - left:
                iscontext: true
                value:
                  simple: inputs.File.Info
              operator: isNotEqualString
              right:
                value:
                  simple: msg
          - - left:
                iscontext: true
                value:
                  simple: inputs.File.Type
              operator: notContainsString
              right:
                value:
                  simple: Composite Document File V2 Document, No summary info
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: inputs.File.Info
              operator: isNotEqualString
              right:
                value:
                  simple: text/rtf
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: inputs.File.Info
              operator: isNotEqualString
              right:
                value:
                  simple: rtf
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: inputs.File.Info
              operator: notContainsGeneral
              right:
                value:
                  simple: xml
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: inputs.File.Type
              operator: notContainsGeneral
              right:
                value:
                  simple: text/rtf
          - - left:
                iscontext: true
                value:
                  simple: inputs.File.Info
              operator: isNotEqualString
              right:
                value:
                  simple: message/rfc822
          root: inputs.File
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Extracts indicators from text-based files.
      id: 1da99193-16fa-4afe-8c81-6181adf34b7a
      iscommand: false
      name: Extract indicators from text-based file
      script: ExtractIndicatorsFromTextFile
      type: regular
      version: -1
    taskid: 1da99193-16fa-4afe-8c81-6181adf34b7a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 112.5,
          "y": 720
        }
      }
  "7":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                accessor: EntryID
                filters:
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: inputs.File.Type
                    operator: containsString
                    right:
                      value:
                        simple: pdf
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: inputs.File.Info
                    operator: containsString
                    right:
                      value:
                        simple: pdf
                root: inputs.File
                transformers:
                - operator: uniq
          operator: isExists
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "10"
      "yes":
      - "29"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if there is a PDF file in context.
      id: fe9aa9e7-8981-4594-b9a4-b7a4225a12fa
      iscommand: false
      name: Is there a PDF file?
      type: condition
      version: -1
    taskid: fe9aa9e7-8981-4594-b9a4-b7a4225a12fa
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1320,
          "y": 460
        }
      }
  "9":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: EntryID
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: inputs.File.Type
                    operator: containsString
                    right:
                      value:
                        simple: Composite Document File V2 Document
                  - left:
                      iscontext: true
                      value:
                        simple: inputs.File.Type
                    operator: containsString
                    right:
                      value:
                        simple: Microsoft Word
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: inputs.File.Info
                    operator: isEqualString
                    right:
                      value:
                        simple: docx
                  - left:
                      iscontext: true
                      value:
                        simple: inputs.File.Info
                    operator: containsString
                    right:
                      value:
                        simple: CDFV2
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: inputs.File.Info
                    operator: isNotEqualString
                    right:
                      value:
                        simple: msg
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: inputs.File.Info
                    operator: isNotEqualString
                    right:
                      value:
                        simple: eml
                - - left:
                      iscontext: true
                      value:
                        simple: inputs.File.Extension
                    operator: isNotExists
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: inputs.File.Extension
                    operator: isNotEqualString
                    right:
                      value:
                        simple: xls
                - - left:
                      iscontext: true
                      value:
                        simple: inputs.File.Extension
                    operator: isNotExists
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: inputs.File.Extension
                    operator: isNotEqualString
                    right:
                      value:
                        simple: xlsx
                - - left:
                      iscontext: true
                      value:
                        simple: inputs.File.Type
                    operator: isNotExists
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: inputs.File.Type
                    operator: notContainsString
                    right:
                      value:
                        simple: Excel
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: inputs.File.Info
                    operator: isNotEqualString
                    right:
                      value:
                        simple: ppt
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: inputs.File.Info
                    operator: isNotEqualString
                    right:
                      value:
                        simple: pptx
                - - left:
                      iscontext: true
                      value:
                        simple: inputs.File.Extension
                    operator: isNotExists
                  - left:
                      iscontext: true
                      value:
                        simple: inputs.File.Extension
                    operator: isNotEqualString
                    right:
                      value:
                        simple: xlsb
                - - left:
                      iscontext: true
                      value:
                        simple: inputs.File.Info
                    operator: isNotEqualString
                    right:
                      value:
                        simple: xlsb
                - - left:
                      iscontext: true
                      value:
                        simple: inputs.File.Extension
                    operator: isNotExists
                  - left:
                      iscontext: true
                      value:
                        simple: inputs.File.Extension
                    operator: isNotEqualString
                    right:
                      value:
                        simple: xlsm
                - - left:
                      iscontext: true
                      value:
                        simple: inputs.File.Extension
                    operator: isNotExists
                  - left:
                      iscontext: true
                      value:
                        simple: inputs.File.Extension
                    operator: isNotEqualString
                    right:
                      value:
                        simple: docm
                - - left:
                      iscontext: true
                      value:
                        simple: inputs.File.Extension
                    operator: isNotExists
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: inputs.File.Extension
                    operator: isNotEqualString
                    right:
                      value:
                        simple: oft
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: inputs.File.Info
                    operator: isNotEqualString
                    right:
                      value:
                        simple: oft
                - - left:
                      iscontext: true
                      value:
                        simple: inputs.File.Type
                    operator: notContainsString
                    right:
                      value:
                        simple: Encrypted
                root: inputs.File
                transformers:
                - operator: uniq
          operator: isExists
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "10"
      "yes":
      - "11"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if there is a Word file (DOC, DOCX) in context.
      id: b61b2d2d-526f-4d64-8bcc-46a45a3da866
      iscommand: false
      name: Is there a Word file?
      type: condition
      version: -1
    taskid: b61b2d2d-526f-4d64-8bcc-46a45a3da866
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 510,
          "y": 460
        }
      }
  "10":
    continueonerrortype: ""
    id: "10"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "19"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 3e880c19-d946-4cca-8dd4-fabe023b5f27
      iscommand: false
      name: No File To Parse
      type: title
      version: -1
    taskid: 3e880c19-d946-4cca-8dd4-fabe023b5f27
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -975,
          "y": 735
        }
      }
  "11":
    continueonerrortype: ""
    id: "11"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "19"
    note: false
    quietmode: 0
    reputationcalc: 2
    scriptarguments:
      entryID:
        complex:
          accessor: EntryID
          filters:
          - - left:
                iscontext: true
                value:
                  simple: inputs.File.Type
              operator: containsString
              right:
                value:
                  simple: Composite Document File V2 Document
            - left:
                iscontext: true
                value:
                  simple: inputs.File.Type
              operator: containsString
              right:
                value:
                  simple: Microsoft Word
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: inputs.File.Info
              operator: isEqualString
              right:
                value:
                  simple: docx
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: inputs.File.Info
              operator: isNotEqualString
              right:
                value:
                  simple: msg
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: inputs.File.Info
              operator: isNotEqualString
              right:
                value:
                  simple: eml
          - - left:
                iscontext: true
                value:
                  simple: inputs.File.Extension
              operator: isNotExists
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: inputs.File.Extension
              operator: isNotEqualString
              right:
                value:
                  simple: xls
          - - left:
                iscontext: true
                value:
                  simple: inputs.File.Extension
              operator: isNotExists
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: inputs.File.Extension
              operator: isNotEqualString
              right:
                value:
                  simple: xlsx
          - - left:
                iscontext: true
                value:
                  simple: inputs.File.Type
              operator: isNotExists
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: inputs.File.Type
              operator: notContainsString
              right:
                value:
                  simple: Excel
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: inputs.File.Info
              operator: isNotEqualString
              right:
                value:
                  simple: ppt
          - - left:
                iscontext: true
                value:
                  simple: inputs.File.Info
              operator: isNotEqualString
              right:
                value:
                  simple: pptx
          - - left:
                iscontext: true
                value:
                  simple: inputs.File.Extension
              operator: isNotExists
            - left:
                iscontext: true
                value:
                  simple: inputs.File.Extension
              operator: isNotEqualString
              right:
                value:
                  simple: xlsm
          - - left:
                iscontext: true
                value:
                  simple: inputs.File.Extension
              operator: isNotExists
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: inputs.File.Extension
              operator: isNotEqualString
              right:
                value:
                  simple: oft
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: inputs.File.Info
              operator: isNotEqualString
              right:
                value:
                  simple: oft
          - - left:
                iscontext: true
                value:
                  simple: inputs.File.Type
              operator: notContainsString
              right:
                value:
                  simple: Encrypted
          root: inputs.File
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Extracts indicators from word files (DOC, DOCX).
      id: cce17910-c4c9-4c71-862c-9a55cbeca170
      iscommand: false
      name: Extract indicators from Word file
      script: ExtractIndicatorsFromWordFile
      type: regular
      version: -1
    taskid: cce17910-c4c9-4c71-862c-9a55cbeca170
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 510,
          "y": 720
        }
      }
  "13":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: brand
                    operator: isEqualString
                    right:
                      value:
                        simple: Image OCR
                root: modules
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "13"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "19"
      "yes":
      - "14"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether there is an active instance of the Image OCR integration.
        enabled.
      id: 13a4204e-43c3-4c7d-8331-5048057a0ab2
      iscommand: false
      name: Is Image OCR enabled?
      type: condition
      version: -1
    taskid: 13a4204e-43c3-4c7d-8331-5048057a0ab2
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 2809,
          "y": 718
        }
      }
  "14":
    continueonerrortype: ""
    id: "14"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "19"
    note: false
    quietmode: 0
    reputationcalc: 2
    scriptarguments:
      entryid:
        complex:
          accessor: EntryID
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: inputs.File.Info
              operator: isEqualString
              right:
                value:
                  simple: image/png
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: inputs.File.Info
              operator: isEqualString
              right:
                value:
                  simple: image/jpg
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: inputs.File.Info
              operator: isEqualString
              right:
                value:
                  simple: image/jpeg
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: inputs.File.Info
              operator: isEqualString
              right:
                value:
                  simple: image/gif
          root: inputs.File
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: true
    task:
      brand: ""
      description: Extracts text from PNG, JPEG, and GIF image files, and uses auto-extract
        to get reputation for indicators.
      id: 5fe1445f-0d84-48e8-84b5-265e777b594f
      iscommand: true
      name: Extract text from images
      script: '|||image-ocr-extract-text'
      type: regular
      version: -1
    taskid: 5fe1445f-0d84-48e8-84b5-265e777b594f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2778,
          "y": 1099
        }
      }
  "15":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                accessor: EntryID
                filters:
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: inputs.File.Info
                    operator: isEqualString
                    right:
                      value:
                        simple: ppt
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: inputs.File.Info
                    operator: isEqualString
                    right:
                      value:
                        simple: pptx
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: inputs.File.Info
                    operator: isEqualString
                    right:
                      value:
                        simple: rtf
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: inputs.File.Info
                    operator: isEqualString
                    right:
                      value:
                        simple: xls
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: inputs.File.Info
                    operator: isEqualString
                    right:
                      value:
                        simple: xlsx
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: inputs.File.Info
                    operator: containsGeneral
                    right:
                      value:
                        simple: xml
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: inputs.File.Info
                    operator: containsGeneral
                    right:
                      value:
                        simple: vnd.ms-powerpoint
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: inputs.File.Info
                    operator: containsGeneral
                    right:
                      value:
                        simple: vnd.ms-excel
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: inputs.File.Info
                    operator: containsGeneral
                    right:
                      value:
                        simple: text/rtf
                - - left:
                      iscontext: true
                      value:
                        simple: inputs.File.Extension
                    operator: isNotExists
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: inputs.File.Extension
                    operator: isNotEqualString
                    right:
                      value:
                        simple: xlsb
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: inputs.File.Type
                    operator: notContainsGeneral
                    right:
                      value:
                        simple: CDFV2 Encrypted
                - - left:
                      iscontext: true
                      value:
                        simple: inputs.File.Extension
                    operator: isNotExists
                  - left:
                      iscontext: true
                      value:
                        simple: inputs.File.Extension
                    operator: isNotEqualString
                    right:
                      value:
                        simple: docx
                - - left:
                      iscontext: true
                      value:
                        simple: inputs.File.Extension
                    operator: isNotExists
                  - left:
                      iscontext: true
                      value:
                        simple: inputs.File.Extension
                    operator: isNotEqualString
                    right:
                      value:
                        simple: doc
                root: inputs.File
                transformers:
                - operator: uniq
          operator: isExists
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "15"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "10"
      "yes":
      - "16"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Checks if one of the following file types exists:
        - PPT
        - PPTX
        - RTF
        - XLS
        - XLSX
        - XML
      id: a7ba5b59-d995-4fcd-8454-668c7047028c
      iscommand: false
      name: Is there another supported document type?
      type: condition
      version: -1
    taskid: a7ba5b59-d995-4fcd-8454-668c7047028c
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1740,
          "y": 460
        }
      }
  "16":
    continueonerrortype: ""
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "32"
    note: false
    quietmode: 0
    reputationcalc: 2
    scriptarguments:
      all_files:
        simple: "yes"
      entry_id:
        complex:
          accessor: EntryID
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: inputs.File.Info
              operator: isEqualString
              right:
                value:
                  simple: ppt
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: inputs.File.Info
              operator: isEqualString
              right:
                value:
                  simple: pptx
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: inputs.File.Info
              operator: isEqualString
              right:
                value:
                  simple: rtf
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: inputs.File.Info
              operator: isEqualString
              right:
                value:
                  simple: xls
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: inputs.File.Info
              operator: isEqualString
              right:
                value:
                  simple: xlsx
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: inputs.File.Info
              operator: containsGeneral
              right:
                value:
                  simple: xml
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: inputs.File.Info
              operator: containsGeneral
              right:
                value:
                  simple: vnd.ms-powerpoint
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: inputs.File.Info
              operator: containsGeneral
              right:
                value:
                  simple: vnd.ms-excel
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: inputs.File.Info
              operator: containsGeneral
              right:
                value:
                  simple: text/rtf
          - - left:
                iscontext: true
                value:
                  simple: inputs.File.Extension
              operator: isNotExists
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: inputs.File.Extension
              operator: isNotEqualString
              right:
                value:
                  simple: xlsb
          - - left:
                iscontext: true
                value:
                  simple: inputs.File.Extension
              operator: isNotExists
            - left:
                iscontext: true
                value:
                  simple: inputs.File.Extension
              operator: isNotEqualString
              right:
                value:
                  simple: docx
          - - left:
                iscontext: true
                value:
                  simple: inputs.File.Extension
              operator: isNotExists
            - left:
                iscontext: true
                value:
                  simple: inputs.File.Extension
              operator: isNotEqualString
              right:
                value:
                  simple: doc
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: inputs.File.Type
              operator: notContainsGeneral
              right:
                value:
                  simple: CDFV2 Encrypted
          root: inputs.File
          transformers:
          - operator: uniq
      ignore-outputs:
        simple: "false"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Converts the following formats to PDF format:
        - PPT
        - PPTX
        - RTF
        - XLS
        - XLSX
        - XML
      id: 80811529-61cb-4b0c-8000-e31cd312fdda
      iscommand: false
      name: Convert a document to PDF
      script: ConvertFile
      type: regular
      version: -1
    taskid: 80811529-61cb-4b0c-8000-e31cd312fdda
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1740,
          "y": 720
        }
      }
  "19":
    continueonerrortype: ""
    id: "19"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: ExtractedURLsFromFiles
      value:
        complex:
          accessor: Data
          root: URL
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Extracts URLs from files and stores them under the "ExtractedURLsFromFiles" key in the playbook output.
        Parent playbooks can use this key to indicate which URLs were extracted.
      id: 7f90c4cc-3035-4244-8785-360f594ddc62
      iscommand: false
      name: Set ExtractedURLsFromFiles
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: 7f90c4cc-3035-4244-8785-360f594ddc62
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 915,
          "y": 1690
        }
      }
  "20":
    continueonerrortype: ""
    id: "20"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "19"
    note: false
    quietmode: 0
    scriptarguments:
      Decode:
        complex:
          root: inputs.Decode
      FileObject:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: inputs.File.EntryID
              operator: isNotEmpty
          root: inputs.File
    separatecontext: true
    skipunavailable: true
    task:
      brand: ""
      description: |-
        Oletools is a tool for analyzing Microsoft OLE2 files, such as Microsoft Office documents or Outlook messages, mainly for malware analysis, forensics, and debugging.
        This playbook will run run the "oleid" command on the files which are passed to to it as playbook inputs. In case any macros or external relationships were found, it will also run "olevba" and "oleobj" commands as well on the relevant files.
        oleid - Analyze OLE files to detect specific characteristics usually found in malicious files.
        oleobj - Extract embedded objects from OLE files.
        olevba - Extract and analyze VBA Macro source code from MS Office documents (OLE and OpenXML).
      id: 7ce286a8-d86f-42f4-8e36-426f4753740c
      iscommand: false
      name: Microsoft Office File Enrichment - Oletools
      playbookName: Microsoft Office File Enrichment - Oletools
      type: playbook
      version: -1
    taskid: 7ce286a8-d86f-42f4-8e36-426f4753740c
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -730,
          "y": 460
        }
      }
  "21":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                filters:
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: inputs.File.Info
                    operator: isEqualString
                    right:
                      value:
                        simple: image/png
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: inputs.File.Info
                    operator: isEqualString
                    right:
                      value:
                        simple: image/jpg
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: inputs.File.Info
                    operator: isEqualString
                    right:
                      value:
                        simple: image/jpeg
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: inputs.File.Info
                    operator: isEqualString
                    right:
                      value:
                        simple: image/gif
                root: inputs.File
                transformers:
                - operator: uniq
          operator: isNotEmpty
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "21"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "10"
      "yes":
      - "13"
      - "28"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if the uploaded file is a valid image file.
      id: 6515f21b-9e06-4b53-8b76-4ade7d43e829
      iscommand: false
      name: Is there an image file?
      type: condition
      version: -1
    taskid: 6515f21b-9e06-4b53-8b76-4ade7d43e829
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 2397,
          "y": 460
        }
      }
  "22":
    continueonerrortype: ""
    id: "22"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "19"
    note: false
    quietmode: 0
    reputationcalc: 2
    scriptarguments:
      entryID:
        complex:
          accessor: EntryID
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: inputs.File.Type
              operator: containsString
              right:
                value:
                  simple: Zip archive data
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: inputs.File.Type
              operator: isEqualString
              right:
                value:
                  simple: Microsoft Excel 2007+
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: inputs.File.Extension
              operator: isEqualString
              right:
                value:
                  simple: docx
          root: inputs.File
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Extracts indicators from word files (DOC, DOCX).
      id: 23e84751-1ddc-46b8-85dd-043b3252e940
      iscommand: false
      name: Extract indicators from docx file
      script: ExtractIndicatorsFromWordFile
      type: regular
      version: -1
    taskid: 23e84751-1ddc-46b8-85dd-043b3252e940
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 915,
          "y": 720
        }
      }
  "23":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: EntryID
                filters:
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: inputs.File.Type
                    operator: containsString
                    right:
                      value:
                        simple: Zip archive data
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: inputs.File.Type
                    operator: isEqualString
                    right:
                      value:
                        simple: Microsoft Excel 2007+
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: inputs.File.Extension
                    operator: isEqualString
                    right:
                      value:
                        simple: docx
                root: inputs.File
                transformers:
                - operator: uniq
          operator: isExists
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "23"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "10"
      "yes":
      - "22"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if there is a Word file (DOC, DOCX) in context.
      id: 07993c36-28e2-46b3-8816-e580ba1ae505
      iscommand: false
      name: Is there a Word docx file?
      type: condition
      version: -1
    taskid: 07993c36-28e2-46b3-8816-e580ba1ae505
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 915,
          "y": 460
        }
      }
  "24":
    continueonerrortype: ""
    id: "24"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "19"
    note: false
    quietmode: 0
    reputationcalc: 2
    scriptarguments:
      entry_id:
        complex:
          accessor: EntryID
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: inputs.File.Info
              operator: containsGeneral
              right:
                value:
                  simple: image/png
            - left:
                iscontext: true
                value:
                  simple: inputs.File.Info
              operator: isEqualString
              right:
                value:
                  simple: image/jpeg
            - left:
                iscontext: true
                value:
                  simple: inputs.File.Info
              operator: isEqualString
              right:
                value:
                  simple: image/jpg
          root: inputs.File
          transformers:
          - args:
              item:
                iscontext: true
                value:
                  simple: InfoFile.EntryID
            operator: append
          - operator: uniq
          - args:
              empty_values: {}
              remove_keys:
                value:
                  simple: "true"
            operator: RemoveEmpty
    separatecontext: false
    skipunavailable: true
    task:
      brand: ""
      description: Extracts the text from a QR code. The output of this script includes
        the output of the script "extractIndicators" run on the text extracted from
        the QR code.
      id: e80f3f02-7c8b-4cde-8456-79145e049569
      iscommand: false
      name: Extract Text from QR Code
      script: ReadQRCode
      type: regular
      version: -1
    taskid: e80f3f02-7c8b-4cde-8456-79145e049569
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1606,
          "y": 1540
        }
      }
  "25":
    continueonerrortype: ""
    id: "25"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "24"
    note: false
    quietmode: 0
    scriptarguments:
      EntryID:
        complex:
          root: ValidPDFEntryIDs
          transformers:
          - args:
              item:
                iscontext: true
                value:
                  simple: AdditionalPDFs
              raw: {}
            operator: AppendIfNotEmpty
          - operator: uniq
          - args:
              empty_values: {}
              remove_keys:
                value:
                  simple: "true"
            operator: RemoveEmpty
    separatecontext: false
    skipunavailable: true
    task:
      brand: ""
      description: Converts a PDF file to an image file.
      id: 1c5f93e5-dd4c-46bf-8f76-ae594a83a90d
      iscommand: true
      name: Convert PDF to Image
      script: '|||rasterize-pdf'
      type: regular
      version: -1
    taskid: 1c5f93e5-dd4c-46bf-8f76-ae594a83a90d
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1606,
          "y": 1404
        }
      }
  "26":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: EntryID
                filters:
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: inputs.File.Extension
                    operator: isEqualString
                    right:
                      value:
                        simple: xlsx
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: inputs.File.Extension
                    operator: isEqualString
                    right:
                      value:
                        simple: pptx
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: inputs.File.Type
                    operator: containsGeneral
                    right:
                      value:
                        simple: Zip archive data
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: inputs.File.Type
                    operator: isEqualString
                    right:
                      value:
                        simple: Microsoft PowerPoint 2007+
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: inputs.File.Type
                    operator: isEqualString
                    right:
                      value:
                        simple: Microsoft Excel 2007+
                root: inputs.File
                transformers:
                - operator: uniq
          operator: isExists
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "26"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "10"
      "yes":
      - "27"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if there is a PowerPoint or Excel file (PPTX/XSLX) in context.
      id: 53db3653-4ebd-46c3-84e2-2a029bb9561c
      iscommand: false
      name: Is there a PPTX/XSLX file?
      type: condition
      version: -1
    taskid: 53db3653-4ebd-46c3-84e2-2a029bb9561c
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -300,
          "y": 460
        }
      }
  "27":
    continueonerrortype: ""
    id: "27"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "19"
    note: false
    quietmode: 0
    reputationcalc: 2
    scriptarguments:
      entry_id:
        complex:
          accessor: EntryID
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: inputs.File.Extension
              operator: isEqualString
              right:
                value:
                  simple: xlsx
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: inputs.File.Extension
              operator: isEqualString
              right:
                value:
                  simple: pptx
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: inputs.File.Type
              operator: containsGeneral
              right:
                value:
                  simple: Zip archive data
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: inputs.File.Type
              operator: isEqualString
              right:
                value:
                  simple: Microsoft PowerPoint 2007+
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: inputs.File.Type
              operator: isEqualString
              right:
                value:
                  simple: Microsoft Excel 2007+
          root: inputs.File
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: 'Extracts hyperlinks from Office files. Supported file types are:
        xlsx, docx, pptx.'
      id: 629dd9a1-1eb5-42f1-8846-faf65be915f9
      iscommand: false
      name: Extract Hyper-Links from Office Files
      script: ExtractHyperlinksFromOfficeFiles
      type: regular
      version: -1
    taskid: 629dd9a1-1eb5-42f1-8846-faf65be915f9
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -300,
          "y": 720
        }
      }
  "28":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.File.Info
          operator: isEqualString
          right:
            value:
              simple: image/png
        - left:
            iscontext: true
            value:
              simple: inputs.File.Info
          operator: isEqualString
          right:
            value:
              simple: image/jpeg
        - left:
            iscontext: true
            value:
              simple: inputs.File.Info
          operator: isEqualString
          right:
            value:
              simple: image/jpg
      label: "yes"
    continueonerrortype: ""
    id: "28"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "19"
      "yes":
      - "24"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 8cae1b0c-df86-4070-83bc-2108b2fb3281
      iscommand: false
      name: Does ReadQRCode support the image?
      type: condition
      version: -1
    taskid: 8cae1b0c-df86-4070-83bc-2108b2fb3281
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 2398,
          "y": 860
        }
      }
  "29":
    continueonerrortype: ""
    id: "29"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "30"
    note: false
    quietmode: 0
    scriptarguments:
      EntryID:
        complex:
          accessor: EntryID
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: inputs.File.Type
              operator: containsString
              right:
                value:
                  simple: pdf
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: inputs.File.Info
              operator: containsString
              right:
                value:
                  simple: pdf
          root: inputs.File
          transformers:
          - operator: uniq
      extend-context:
        simple: CheckedPDFs=
      ignore-outputs:
        simple: "true"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns wether a PDF is both valid and encrypted.
      id: f3ab8c1c-f06f-4e23-8fb8-92d02cbee65a
      iscommand: false
      name: Check validity of PDF files
      script: CheckPDFEncryptionAndValidity
      type: regular
      version: -1
    taskid: f3ab8c1c-f06f-4e23-8fb8-92d02cbee65a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1320,
          "y": 720
        }
      }
  "30":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                accessor: EntryID
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: CheckedPDFs.IsValid
                    operator: isTrue
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: CheckedPDFs.IsEncrypted
                    operator: isFalse
                root: CheckedPDFs
                transformers:
                - operator: uniq
          operator: isNotEmpty
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "30"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "19"
      "yes":
      - "33"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if there are valid, non-encrypted PDFs.
      id: 544e230f-6df0-46c2-8d9d-e4535594f5b4
      iscommand: false
      name: Any readable PDF files?
      type: condition
      version: -1
    taskid: 544e230f-6df0-46c2-8d9d-e4535594f5b4
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1320,
          "y": 870
        }
      }
  "31":
    continueonerrortype: ""
    id: "31"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "25"
    note: false
    quietmode: 0
    reputationcalc: 2
    scriptarguments:
      entryID:
        complex:
          root: ValidPDFEntryIDs
          transformers:
          - args:
              item:
                iscontext: true
                value:
                  simple: AdditionalPDFs
              raw: {}
            operator: AppendIfNotEmpty
          - operator: uniq
      maxImages:
        complex:
          root: inputs.MaxImagesFromPDF
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Load a PDF file's content and metadata into context.
      id: 5ff6052a-4a53-49d0-8471-508a5e27af03
      iscommand: false
      name: Extract indicators from PDF files
      script: ReadPDFFileV2
      type: regular
      version: -1
    taskid: 5ff6052a-4a53-49d0-8471-508a5e27af03
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1606,
          "y": 1275
        }
      }
  "32":
    continueonerrortype: ""
    id: "32"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "34"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: AdditionalPDFs
      value:
        complex:
          accessor: EntryID
          filters:
          - - left:
                iscontext: true
                value:
                  simple: File.SHA256
              operator: in
              right:
                iscontext: true
                value:
                  simple: ConvertedFile.FileSHA256
          root: File
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: "Set a value in context under the key you entered. If no value
        is entered, the script doesn't do anything.\n\nThis automation runs using
        the default Limited User role, unless you explicitly change the permissions.\nFor
        more information, see the section about permissions here:\n- For Cortex XSOAR
        6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      id: 5b9ddd9d-143f-47fc-8cf8-0249889f1532
      iscommand: false
      name: Save converted PDFs separately
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: 5b9ddd9d-143f-47fc-8cf8-0249889f1532
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1740,
          "y": 860
        }
      }
  "33":
    continueonerrortype: ""
    id: "33"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "34"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: ValidPDFEntryIDs
      value:
        complex:
          accessor: EntryID
          filters:
          - - left:
                iscontext: true
                value:
                  simple: CheckedPDFs.IsValid
              operator: isTrue
          - - left:
                iscontext: true
                value:
                  simple: CheckedPDFs.IsEncrypted
              operator: isFalse
          root: CheckedPDFs
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: "Set a value in context under the key you entered. If no value
        is entered, the script doesn't do anything.\n\nThis automation runs using
        the default Limited User role, unless you explicitly change the permissions.\nFor
        more information, see the section about permissions here:\n- For Cortex XSOAR
        6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      id: 82c30ea3-4fbc-42dc-852b-0bda54ef1315
      iscommand: false
      name: Save valid PDFs separately
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: 82c30ea3-4fbc-42dc-852b-0bda54ef1315
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1320,
          "y": 1013
        }
      }
  "34":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: ValidPDFEntryIDs
                transformers:
                - args:
                    item:
                      iscontext: true
                      value:
                        simple: AdditionalPDFs
                    raw: {}
                  operator: AppendIfNotEmpty
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "34"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "19"
      "yes":
      - "31"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether there are any PDF files to process
      id: 54c92f03-3cc6-4742-b121-8694a35255b2
      iscommand: false
      name: Assert there are pdf files to extract from
      type: condition
      version: -1
    taskid: 54c92f03-3cc6-4742-b121-8694a35255b2
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1606,
          "y": 1149
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "13_19_#default#": 0.11,
      "15_10_#default#": 0.11,
      "15_16_yes": 0.38,
      "1_10_#default#": 0.17,
      "21_10_#default#": 0.1,
      "23_10_#default#": 0.14,
      "23_22_yes": 0.43,
      "28_24_yes": 0.88,
      "34_19_#default#": 0.42,
      "5_10_#default#": 0.33,
      "5_6_yes": 0.36,
      "7_10_#default#": 0.1,
      "9_10_#default#": 0.18,
      "9_11_yes": 0.35
    },
    "paper": {
      "dimensions": {
        "height": 1896,
        "width": 4165,
        "x": -975,
        "y": -10
      }
    }
  }
